In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\sooq elaser\movie_genre_prediction\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sooq elaser\movie_genre_prediction\venv\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sooq elaser\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sooq elaser\movie_genre_prediction\venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sooq elaser\movie_genre_prediction\venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\sooq elaser\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
import zipfile

In [39]:
data = pd.read_csv(r'C:/Users/SOOQ ELASER/movie_genre_prediction/dataset/test_data_solution.txt', delimiter=' ::: ', engine='python', header=None)
data.columns = ['ID', 'Title', 'Genre', 'Description']

data1 = pd.read_csv(r'C:\Users\SOOQ ELASER\movie_genre_prediction\test_data.txt.zip', delimiter=' ::: ', engine='python', header=None)


data2= pd.read_csv(r'C:\Users\SOOQ ELASER\movie_genre_prediction\train_data.txt.zip', delimiter=' ::: ', engine='python', header=None)

In [42]:
data1.columns

Index([0, 1, 2], dtype='int64')

In [43]:
data1.head()

,0,1,2
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),Before he was known internationally as a marti...

In [41]:
data2.head()

,0,1,2,3
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [32]:
data.head()

,ID,Title,Genre,Description
0,1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),drama,Before he was known internationally as a marti...

In [37]:
data.describe()

                 ID
count  54200.000000
mean   27100.500000
std    15646.336632
min        1.000000
25%    13550.750000
50%    27100.500000
75%    40650.250000
max    54200.000000

In [33]:
data.columns

Index(['ID', 'Title', 'Genre', 'Description'], dtype='object')

In [ ]:
data[].nunique().sum()

np.int64(54199)

In [44]:
data.shape

(54200, 4)

In [45]:
data2.shape

(54214, 4)

In [46]:
data.columns

Index(['ID', 'Title', 'Genre', 'Description'], dtype='object')

In [47]:
data2.columns

Index([0, 1, 2, 3], dtype='int64')

In [48]:
data2.head()

,0,1,2,3
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [49]:
data.head()

,ID,Title,Genre,Description
0,1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),drama,Before he was known internationally as a marti...

In [50]:

# Check the number of columns
print(f"Number of columns: {data2.shape[1]}")

# Assign new column names if the number of columns matches
if data2.shape[1] == 4:
    data2.columns = ['ID', 'Title', 'Genre', 'Description']
    print("Column names changed successfully.")
    print(data2.head())
else:
    print("The number of columns does not match the expected 4 columns.")

# Save the dataset with new column names as a CSV file if the number of columns matches
if data2.shape[1] == 4:
    data2.to_csv('C:/Users/SOOQ ELASER/movie_genre_prediction/dataset/test_data_solution.csv', index=False)
    print("Dataset saved as CSV successfully.")

Number of columns: 4
Column names changed successfully.
   ID                             Title     Genre  \
0   1      Oscar et la dame rose (2009)     drama
1   2                      Cupid (1997)  thriller
2   3  Young, Wild and Wonderful (1980)     adult
3   4             The Secret Sin (1915)     drama
4   5            The Unrecovered (2007)     drama

                                         Description
0  Listening in to a conversation between his doc...
1  A brother and sister with a past incestuous re...
2  As the bus empties the students for their fiel...
3  To help their unemployed father make ends meet...
4  The film's title refers not only to the un-rec...
Dataset saved as CSV successfully.

In [51]:
data2.head()

,ID,Title,Genre,Description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [54]:
data.columns

Index(['ID', 'Title', 'Genre', 'Description'], dtype='object')

In [57]:
data2.columns

Index(['ID', 'Title', 'Genre', 'Description'], dtype='object')

In [61]:

# Inspect the first few lines of both datasets to determine the delimiter
print("First few lines of data1:")
print(data.head())
print("\nFirst few lines of data2:")
print(data2.head())

# Check the number of columns in both datasets
print(f"\nNumber of columns in data1: {data.shape[1]}")
print(f"Number of columns in data2: {data2.shape[1]}")

# Assign new column names if the number of columns matches
if data.shape[1] == 4 and data2.shape[1] == 4:
    data.columns = ['ID', 'Title', 'Genre', 'Description']
    data2.columns = ['ID', 'Title', 'Genre', 'Description']
    print("Column names changed successfully.")
    print(data.head())
    print(data2.head())
else:
    print("The number of columns does not match the expected 4 columns.")

# Merge the datasets row-wise if the number of columns matches
if data.shape[1] == 4 and data2.shape[1] == 4:
    merged_data = pd.concat([data, data2], ignore_index=True)
    print("Datasets merged successfully.")
    print(merged_data.head())

    # Save the merged dataset as a CSV file
    merged_data.to_csv('C:/Users/SOOQ ELASER/movie_genre_prediction/dataset/merged_dataset.csv', index=False)
    print("Merged dataset saved as CSV successfully.")

First few lines of data1:
   ID                        Title        Genre  \
0   1         Edgar's Lunch (1998)     thriller
1   2     La guerra de papá (1977)       comedy
2   3  Off the Beaten Track (2010)  documentary
3   4       Meu Amigo Hindu (2015)        drama
4   5            Er nu zhai (1955)        drama

                                         Description
0  L.R. Brane loves his life - his car, his apart...
1  Spain, March 1964: Quico is a very naughty chi...
2  One year in the life of Albin and his family o...
3  His father has died, he hasn't spoken with his...
4  Before he was known internationally as a marti...

First few lines of data2:
   ID                             Title     Genre  \
0   1      Oscar et la dame rose (2009)     drama
1   2                      Cupid (1997)  thriller
2   3  Young, Wild and Wonderful (1980)     adult
3   4             The Secret Sin (1915)     drama
4   5            The Unrecovered (2007)     drama

                                         Description
0  Listening in to a conversation between his doc...
1  A brother and sister with a past incestuous re...
2  As the bus empties the students for their fiel...
3  To help their unemployed father make ends meet...
4  The film's title refers not only to the un-rec...

Number of columns in data1: 4
Number of columns in data2: 4
Column names changed successfully.
   ID                        Title        Genre  \
0   1         Edgar's Lunch (1998)     thriller
1   2     La guerra de papá (1977)       comedy
2   3  Off the Beaten Track (2010)  documentary
3   4       Meu Amigo Hindu (2015)        drama
4   5            Er nu zhai (1955)        drama

                                         Description
0  L.R. Brane loves his life - his car, his apart...
1  Spain, March 1964: Quico is a very naughty chi...
2  One year in the life of Albin and his family o...
3  His father has died, he hasn't spoken with his...
4  Before he was known internationally as a marti...
   ID                             Title     Genre  \
0   1      Oscar et la dame rose (2009)     drama
1   2                      Cupid (1997)  thriller
2   3  Young, Wild and Wonderful (1980)     adult
3   4             The Secret Sin (1915)     drama
4   5            The Unrecovered (2007)     drama

                                         Description
0  Listening in to a conversation between his doc...
1  A brother and sister with a past incestuous re...
2  As the bus empties the students for their fiel...
3  To help their unemployed father make ends meet...
4  The film's title refers not only to the un-rec...
Datasets merged successfully.
   ID                        Title        Genre  \
0   1         Edgar's Lunch (1998)     thriller
1   2     La guerra de papá (1977)       comedy
2   3  Off the Beaten Track (2010)  documentary
3   4       Meu Amigo Hindu (2015)        drama
4   5            Er nu zhai (1955)        drama

                                         Description
0  L.R. Brane loves his life - his car, his apart...
1  Spain, March 1964: Quico is a very naughty chi...
2  One year in the life of Albin and his family o...
3  His father has died, he hasn't spoken with his...
4  Before he was known internationally as a marti...
Merged dataset saved as CSV successfully.

In [62]:
merged_data.head()

,ID,Title,Genre,Description
0,1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),drama,Before he was known internationally as a marti...

In [63]:
merged_data.shape

(108414, 4)

In [64]:
merged_data.duplicated().sum()

np.int64(0)

In [65]:
merged_data.isnull().sum()

ID             0
Title          0
Genre          0
Description    0
dtype: int64

In [66]:
merged_data.describe()

                  ID
count  108414.000000
mean    27104.000452
std     15648.285970
min         1.000000
25%     13552.250000
50%     27104.000000
75%     40655.750000
max     54214.000000

In [67]:
merged_data["Genre"].value_counts()

Genre
drama          27225
documentary    26192
comedy         14893
short          10145
horror          4408
thriller        3181
action          2629
western         2064
reality-tv      1767
family          1567
adventure       1550
music           1462
romance         1344
sci-fi          1293
adult           1180
crime           1010
animation        996
sport            863
talk-show        782
fantasy          645
mystery          637
musical          553
biography        529
history          486
game-show        387
news             362
war              264
Name: count, dtype: int64

In [68]:
merged_data["Genre"].nunique()

27

In [69]:
merged_data["Title"].nunique()

108414