In [1]:
import pandas as pd

In [3]:
test = pd.read_pickle(r'C:\Users\SOOQ ELASER\movie_genre_prediction\dataset\test_data.pkl')

In [4]:
train = pd.read_pickle(r'C:\Users\SOOQ ELASER\movie_genre_prediction\dataset\train_data.pkl')

In [5]:
test.head()

,sentiment,word_count,char_count,genre_encoded,description_embedding,title_embedding
56755,1,-0.262527,-0.412849,8,[0.32586848735809326],[0.3000916838645935]
88311,1,0.172323,0.326750,7,[0.7990540266036987],[0.4895133376121521]
50681,-1,-0.499718,-0.584744,8,[0.6969773769378662],[0.3386976718902588]
48932,-1,-0.789617,-0.808660,5,[0.0],[0.46769413352012634]
39301,1,-0.578781,-0.557603,5,[0.7869272232055664],[4.435585428814272e-20]

In [7]:
train.head()

,sentiment,word_count,char_count,genre_encoded,description_embedding,title_embedding
76703,1,0.831186,0.799461,5,[0.688230574131012],[0.29713815450668335]
45345,1,-0.394300,-0.354043,2,[0.7722437977790833],[0.5647178292274475]
101961,1,0.119614,0.037243,24,[0.0],[0.3381989300251007]
60893,1,-0.407477,-0.369876,5,[0.6543545722961426],[0.4583265483379364]
80609,1,0.514931,0.595901,7,[0.5402078628540039],[0.4926040768623352]

In [9]:
test.shape

(21683, 6)

In [12]:
train.shape

(86731, 6)

In [19]:
test.apply(tuple, axis=1).duplicated().sum()

np.int64(5)

In [18]:
train.apply(tuple, axis=1).duplicated().sum()

np.int64(105)

In [20]:
train.isnull().sum()

sentiment                0
word_count               0
char_count               0
genre_encoded            0
description_embedding    0
title_embedding          0
dtype: int64

In [23]:
test.isnull().sum()

sentiment                0
word_count               0
char_count               0
genre_encoded            0
description_embedding    0
title_embedding          0
dtype: int64